<!-- ພາບ ສະໄລ້ທ ເຄື່ອນໄຫວ -->
<div id="carouselExampleIndicators" class="two carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block responsive w-100" src="../../assets/img/slide-3.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block responsive w-100" src="../../assets/img/slide-test-two.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block responsive w-100" src="../../assets/img/slide-3.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block responsive w-100" src="../../assets/img/slide-two.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  <!-- ຕົວຫນັງສືແລະຫົວຂໍ້ ເປັນຫຍັງຈຶ່ງແມ່ນຕິດເຕີ້ເຮົ້າສ໋ -->
  <div class="three why-tutor bg-why-tutorhouse align-self-center mt-1">
    <h2 class="lao-font text-center mg-why-tth">ເປັນຫຍັງຕ້ອງຮຽນກັບ "Tutorhouse"</h2>
    <h5 class="lao-font text-center">ຮຽນ ແລະ ແບ່ງປັນສິ່ງທີ່ເຈົ້າມັກ. ໃນບ່ອນນີ້ ເຈົ້າສາມາດເລືອກຄົນສອນໄດ້ເອງ.</h5>
    <h5 class="lao-font text-center"> ເວັບຂອງພວກເຮົາສ້າງລາຍຮັບເສີມກັບຄົນທີ່ຕ້ອງການແບ່ງປັນຄວາມຮູ້ໃຫ້ກັບຄົນອື່ນ ແລະຜູ້ທີ່ຕ້ອງການຮຽນຮູ້ເພີ່ມສິ່ງໃດກໍໄດ້ ທຸກຢ່າງ...</h5>
  </div>
  
  <div class="bg-courses-index mt-1">
      <div class="four container">
          <div class="card-deck bg-main-icon-content">
            <div class="card bg-icon-learning">
              <span class="text-center"><img src="../../assets/img/learning.png" alt="" class="w-100"></span>
              <div class="card-body">
                <h4 class="card-title text-center lao-font">ຄອດສ໌ຮຽນ</h4>
                <p class="card-text lao-font spacing-sentence">ພວກເຮົາມີຄອດສ໌ຮຽນຫຼາຍໆຄອດສ໌ໄວ້ລໍຖ້ານ້ອງໆນັກຮຽນ ເຊິ່ງນ້ອງໆສາມາດເລືອກໄດ້ຕາມໃຈ ຢ່າສະດວກສະບາຍ ສາມາດເລືອກ ອາຈານ ແລະ ສະຖານທີ່ໄດ້ດ້ວຍຕົວເອງ.</p>
              </div>
            </div>
            <div class="card bg-icon-learning">
                <span class="text-center"><img src="../../assets/img/freeland-icon.png" alt="" class="w-100"></span>
              <div class="card-body">
                  <h4 class="card-title text-center lao-font">ຊອກຫາຟີແລນ</h4>
                  <p class="card-text lao-font spacing-sentence">ພວກເຮົາມີຟີແລນທີ່ມີຄຸນນະພາບ ມີປະສົບການເຮັດວຽກມາຫຼາຍປີໄວ້ລໍຖ້າໃຫ້ບໍລິການທ່ານ ແລະ ທ່ານຍັງສາມາດເລືອກຟີແລນທີ່ທ່ານຕ້ອງການດ້ວຍຕົວທ່ານເອງ.</p>
              </div>
            </div>
            <div class="card bg-icon-learning">
                <span class="text-center"><img src="../../assets/img/waiting.png" alt="" class="w-100"></span>
              <div class="card-body">
                <h4 class="card-title text-center lao-font">ສະໝັກຟີແລນ</h4>
                <p class="card-text lao-font spacing-sentence">ຖ້າຫາກທ່ານເປັນຄົນໜຶ່ງທີ່ມີຄວາມສາມາດ ແລະ ມີຄວາມສົນໃຈໃນວຽກງານຟີແລນ ທ່ານສາມາດສະໝັກ ແລະ ສົ່ງຜົນງານໃຫ້ພວກເຮົາໃດ້.</p>
              </div>
            </div>
          </div>
        </div>
  </div>
  
  <div class="container">
    <button class="btn btn-outline-secondary d-block mx-auto lao-font mt-5 mb-5 col-6 size-register" [routerLink]="['/register']">ສະໝັກຮຽນ</button>
  </div>
  
  
  <div class="bg-fluid-step-register">
      <div class="container">
          <h1 class="lao-font text-center">ສະໝັກຮຽນນຳພວກເຮົາງ່າຍໆພຽງແຕ່4ຂັ້ນຕອນ</h1>
          <div class="step-to-register">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                  <span class="text-center"><i class="far fa-registered size-icon-step-register"></i></span>
                  <div class="card-body">
                    <h5 class="card-title lao-font text-center">1 <br> ລົງທະບຽນ</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                  <span class="text-center"><i class="far fa-calendar-check size-icon-step-register"></i></span>
                  <div class="card-body">
                    <h5 class="card-title lao-font text-center">2 <br> ເລືອກວິຊາຮຽນ</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                  <span class="text-center"><i class="fas fa-chalkboard-teacher size-icon-step-register"></i></span>
                  <div class="card-body">
                    <h5 class="card-title lao-font text-center">3 <br> ເລືອກອາຈານສອນ</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12 bd-0">
                <div class="card bd-0">
                  <span class="text-center"><i class="far fa-smile size-icon-step-register"></i></span>
                  <div class="card-body bd-0">
                    <h5 class="card-title lao-font text-center">4 <br> ລົງມືຮຽນ</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>