<footer>
  <!-- <hr class="col-2"> -->
  <div class="bg-footer">
    <div class="container pd-head-ft">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12 lao-font">
          <h5 class="lao-font text-center color-font-head-ft mb-4">ກ່ຽວກັບພວກເຮົາ</h5>
          <p class="text-center nav-link p-padding">
            <a href="#">ກ່ຽວກັບ tutorhouse</a>
          </p>
          <p class="text-center nav-link p-padding">
            <a href="#">ຈຸດພິເສດຂອງ tutorhouse</a>
          </p>
          <p class="text-center nav-link p-padding">
            <a href="#">ກ່ຽວກັບ tutorhouse</a>
          </p>
        </div>
        
        <div class="col-lg-3 col-md-6 col-12 lao-font text-center">
          <h5 class="lao-font text-center color-font-head-ft mb-4">ຂັ້ນຕອນການນຳໃຊ້ເວັບໄຊທ</h5>
          <p class="text-center nav-link p-padding">
            <a href="#">ຊອກຫາວິຊາຮຽນ</a>
          </p>
          <p class="text-center nav-link p-padding">
            <a href="#">ວິທີການຈ່າຍເງິນ</a>
          </p>
          <p class="text-center nav-link p-padding">
            <a href="#">ເອກະສານຕ່າງໆ</a>
          </p>
          <p class="text-center nav-link p-padding">
            <a href="#">ວິທີການຈ່າຍເງິນ</a>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 col-12 lao-font text-center">
            <h5 class="lao-font text-center color-font-head-ft mb-4">ຕິດຕໍ່ເຮົາ</h5>
            <p class="text-center nav-link p-padding">
              <a href="#">ຄຳຖາມທີ່ມັກພົບ</a>
            </p>
            <p class="text-center nav-link p-padding">
              <a href="#">ຕິດຕໍ່ເຮົາ</a>
            </p>
            <p class="text-center nav-link p-padding">
              <a href="#">ແຜນທີ່</a>
            </p>
            <p class="text-center nav-link p-padding">
              <a href="#">ທີມງານບໍລິການ</a>
            </p>
        </div>

        <div class="col-lg-3 col-md-6 col-12 lao-font d-flex justify-content-center">
          <div class="col-10">
            <img src="../../assets/img/QR code example.jpg" alt="" class="w-100">
            <button class="btn btn-sm bg-line d-block mx-auto lao-font mt-2 col-12"><i class="fab fa-line size-icon-line"></i> ຕິດຕໍ່ທາງ Line</button>
          </div>
        </div>
      </div>

      <div class="social-network">
          <div class="footer-social">
              <p class="text-center">
                  <a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-facebook-square"></i></a>
                  <a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-line"></i></a>
                  <a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-weixin"></i></a>
                  <a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-whatsapp"></i></a>
                  <a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-instagram"></i></a>
                  <a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-twitter"></i></a>
                  <a class="main-icon-color" href="#" id="social"><i class="text-center fab fa-google-plus-square"></i></a>
              </p>
          </div>
      </div>
    </div>
  </div>
</footer>