<br>
  <br>
  <div class="container card col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-12 mt-5 pd-register">
  
  <h2 class="text-center lao-font">ຟອມລົງທະບຽນ</h2>
  <div class="input-group">
    <!-- input username -->
    <div class="col-md-8 offset-md-2 col-12">
      <label class="sr-only" for="inlineFormInputGroup">Username</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-user"></i>
          </div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
      </div>
    </div>

    <!-- input email -->
    <div class="col-md-8 offset-md-2 col-12">
      <label class="sr-only" for="inlineFormInputGroup">email</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="far fa-envelope"></i>
          </div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email">
      </div>
    </div>

    <!-- input password -->
    <div class="col-md-8 offset-md-2 col-12">
        <label class="sr-only" for="inlineFormInputGroup">password</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
                <i class="fas fa-key"></i>
            </div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Password">
        </div>
    </div>

    <!-- input confirm password -->
    <div class="col-md-8 offset-md-2 col-12">
        <label class="sr-only" for="inlineFormInputGroup">Confirm-password</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text text-center">
                <i class="fas fa-retweet"></i>
            </div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Confirm-password">
        </div>
    </div>

    <!-- input phone number -->
    <div class="col-md-8 offset-md-2 col-12">
        <label class="sr-only" for="inlineFormInputGroup">phone</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text text-center">
                <i class="fas fa-mobile-alt"></i>
            </div>
          </div>
          <input type="text" class="form-control lao-font" id="inlineFormInputGroup" placeholder="ເບີໂທລະສັບ">
        </div>
    </div>

    <!-- input line ID , wechat , or facebook name -->
    <div class="col-md-8 offset-md-2 col-12">
        <label class="sr-only" for="inlineFormInputGroup">line-id</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
                <i class="fab fa-line"></i>
            </div>
          </div>
          <input type="text" class="form-control lao-font " id="inlineFormInputGroup" placeholder="Line ID , Wechat , ຊື່ ເຟສບຸກ">
        </div>
    </div>

    <!-- input name's person who sugest -->
    <div class="col-md-8 offset-md-2 col-12">
        <label class="sr-only" for="inlineFormInputGroup">invite</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
                <i class="fas fa-user-friends"></i>
            </div>
          </div>
          <input type="text" class="form-control lao-font " id="inlineFormInputGroup" placeholder="ຊື່ຄົນທີ່ແນະນຳ (ຖ້າຫາກບໍ່ມີ ບໍ່ໃສ່ກໍ່ໄດ້)">
        </div>
    </div>    
  </div>
  

  <div class="clear-fix d-flex justify-content-center">
    <div class="form-check form-check-inline">
      <label class="form-check-label lao-font">ເລືອກເພດ</label>
    </div>
    <div class="form-check form-check-inline pd-radio-check-gender">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label lao-font" for="inlineRadio1">
        <i class="fas fa-male"></i> ຊາຍ</label>
    </div>
    <div class="form-check form-check-inline pd-radio-check-gender">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label lao-font" for="inlineRadio2">
        <i class="fas fa-female"></i> ຍິງ</label>
    </div>
  </div>
  <button class="btn btn-outline-secondary mt-3 mb-3 col-4 mx-auto">Register</button>
</div>