
<br><br><br>

<div class="container">
  <div class="row">
      <div class="col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 border-register card">
          <h3 class="text-center display-7">TUTOR-HOUSE <i class="fas fa-leaf" id="register-color-icon"></i></h3>
          <h5 class="text-center display-5 lao-font">ເຂົ້າໃຊ້ບັນຊີຂອງທ່ານ</h5>
          <form action="">
              <label class="ml-4 lao-font smoke-font-color" for="">ກະລຸນາປ້ອນອີເມວ*</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="far fa-envelope"></i>
                  </div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email">
              </div>
              <label class="ml-4 lao-font smoke-font-color mt-3" for="">ລະຫັດຜ່ານ*</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-key"></i>
                  </div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Password">
              </div>
              <div class="form-check form-check-inline mt-3">
                <input class="form-check-input" type="checkbox" name="remember" id="remember" value="option1">
                <label class="form-check-label lao-font" for="remember">
                  <i class="far fa-bookmark"></i> ບັນທຶກການເຂົ້າສູ່ລະບົບ</label>
              </div>
              <div class="form-check form-check-inline fa-pull-right mt-2">
                <span><a href=""><p class="text-right lao-font mt-2">ລືມລະຫັດຜ່ານ?</p></a> </span>
              </div>
              <button type="submit" class="btn main-bg-color lao-font col-12">ເຂົ້າສູ່ລະບົບ</button>
              <br><br>
              <h5 class="text-center lao-font display-6">----- ຍັງບໍ່ມີບັນຊີແມ່ນບໍ່? -----</h5>
              <button class="btn mb-4 lao-font col-12" [routerLink]="['/register']">ລົງທະບຽນ</button>
          </form>
      </div>
  </div>
</div>