<div class="container">
  <div class="row m-5">
    <div class="col-md-4 col-12" style="background:#f7e5c446;">
      <div class="bd-resume">
        <img src="../../assets/img/profile-naruto-one.png" alt="" class="w-100 pd-img">
        <div class="d-flex justify-content-center align-items-center mt-2">
          <div class="score-teacher">
            <h6 class="text-center lao-font">ຄະແນນຈາກຜູ້ໃໍຊ້</h6>
            <p class="text-center">
              <span>
                <i class="fas fa-star"></i>
              </span>
              <span>
                <i class="fas fa-star"></i>
              </span>
              <span>
                <i class="fas fa-star"></i>
              </span>
              <span>
                <i class="fas fa-star"></i>
              </span>
              <span>
                <i class="far fa-star"></i>
              </span>
            </p>

            <p class="text-center pd-rewiew">
              ( 10 ລີວິວ )
            </p>
          </div>
        </div>
      </div>
      <!-- More details start from here -->
      <div class="moredetails">
        <button class="mr-dt">More-Details</button>
        <p class="m-detail spacing-icon lao-font">
          <i class="fas fa-map-marker-alt m-color"></i>
          <span class="m-size"> ບ້ານ ໜອງດ້ວງເໜືອ</span>
        </p>
        <hr>
        <p class="m-detail spacing-icon lao-font">
          <i class="fas fa-envelope m-color"></i>
          <span class="m-size"> Email: Kouifillwer@hotmail.com</span>
        </p>
        <hr>
        <p class="m-detail spacing-icon lao-font">
          <i class="fas fa-mobile-alt m-color"></i>
          <span class="m-size"> 020 XXXXXXXX</span>
        </p>
        <hr>
      </div>
      <!-- social-network -->
      <div class="social-network">
        <button class="mr-dt">Social-Network</button>
        <p class="m-detail spacing-icon lao-font">
          <i class="fab fa-facebook-square m-color"></i>
          <span class="m-size"> MALA Auanlungsee</span>
        </p>
        <hr>
        <p class="m-detail spacing-icon lao-font">
          <i class="fab fa-youtube m-color"></i>
          <span class="m-size"> TUTORHOUSE</span>
        </p>
        <hr>
        <p class="m-detail spacing-icon lao-font">
          <i class="fab fa-twitter m-color"></i>
          <span class="m-size"> MTL Auanlungsee</span>
        </p>
        <hr>
        <p class="m-detail spacing-icon lao-font">
          <i class="fab fa-instagram m-color"></i>
          <span class="m-size"> MTL Auanlungsee</span>
        </p>
        <hr>
      </div>
      <!-- free-time -->
      <div class="free-time">
          <button class="mr-dt">HOBBIES</button>
          <p class="m-detail spacing-icon lao-font">
            <i class="fas fa-book-open m-color"></i>
            <span class="m-size"> Readding books</span>
          </p>
          <hr>
          <p class="m-detail spacing-icon lao-font">
            <i class="fas fa-futbol m-color"></i>
            <span class="m-size"> Playing Football</span>
          </p>
          <hr>
          <p class="m-detail spacing-icon lao-font">
            <i class="fas fa-swimmer m-color"></i>
            <span class="m-size"> Swimming</span>
          </p>
          <hr>
          <p class="m-detail lao-font spacing-icon">
            <i class="fas fa-plane m-color"></i>
            <span class="m-size"> Tour</span>
          </p>
          <hr>
        </div>
    </div>

    <div class="col-md-8 col-12">
      <div class="big-photo">
        <img src="../../assets/img/slide-3.jpg" alt="" class="w-100 h-40">

      </div>
      <div class="profile">
        <button class="mr-dt">PROFILE</button>
        <p class="text-justify spacing-sentence mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa rem voluptatem et nulla rerum debitis error, dolor
          officia temporibus nobis sunt ab quod amet optio vero possimus voluptas! Reiciendis, consectetur.</p>
      </div>
      <hr>
      <div class="education">
        <button class="mr-dt">EDUCATION</button>
        <ul class="mt-3">
          <li>Lorem ipsum dolor sit amet consectetur</li>
          <li>adipisicing elit. Ipsa rem</li>
          <li>voluptatem et nulla rerum debitis error</li>
          <li>dolor officia temporibus nobis</li>
        </ul>
      </div>
      <hr>
      <div class="work-experience">
          <button class="mr-dt text-uppercase">work experience</button>
          <ul class="mt-3">
            <li>Lorem ipsum dolor sit amet consectetur</li>
            <li>adipisicing elit. Ipsa rem</li>
            <li>voluptatem et nulla rerum debitis error</li>
            <li>dolor officia temporibus nobis</li>
          </ul>
        </div>
        <hr>
    </div>
  </div>
</div>