<br>
<br>
<br>

<div class="container">
  <h3 class="lao-font text-center">ອາຈານທັງໝົດຂອງ TUTOR-HOUSE</h3>
  <div class="row">
    <!-- first-photo-teacher-clss -->
    <div class="col-md-3 col-sm-6 col-12 all-teacher">
      <div class="d-flex justify-content-center tst">
        <img src="../../assets/img/tc-soukseed.jpg" alt="" class="img-techer">
      </div>
      <h5 class="text-center color-name-teacher">Tch.Souphansa</h5>
      <div class="justify-content-around align-items-center d-flex">
        <div class="country">
          <img src="../../assets/img/icon-teacher-from.png" alt="naruto-icon">
          <span class="lao-font size-font-province">ນະຄອນຫຼວງວຽງຈັນ</span>
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-center mt-2">
        <div class="score-teacher">
          <h6 class="text-center lao-font">ຄະແນນຈາກຜູ້ໃໍຊ້</h6>
          <p class="text-center">
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="far fa-star"></i>
            </span>
          </p>

          <p class="text-center pd-rewiew">
            ( 10 ລີວິວ )
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12 all-teacher">
      <div class="d-flex justify-content-center tst">
        <img src="../../assets/img/tc-seua.jpg" alt="" class="img-techer">
      </div>
      <h5 class="text-center color-name-teacher">Tch. Seuasivilai</h5>
      <div class="justify-content-around align-items-center d-flex">
        <div class="country">
          <img src="../../assets/img/icon-teacher-from.png" alt="naruto-icon">
          <span class="lao-font size-font-province">ນະຄອນຫຼວງວຽງຈັນ</span>
        </div>
      </div>

      <!-- second photo teacher class -->
      <div class="d-flex justify-content-center align-items-center mt-2">
        <div class="score-teacher">
          <h6 class="text-center lao-font">ຄະແນນຈາກຜູ້ໃໍຊ້</h6>
          <p class="text-center">
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="far fa-star"></i>
            </span>
          </p>

          <p class="text-center pd-rewiew">
            ( 10 ລີວິວ )
          </p>
        </div>
      </div>
    </div>

    <!-- Third photo teacher class -->
    <div class="col-md-3 col-sm-6 col-12 all-teacher">
      <div class="d-flex justify-content-center tst">
        <img src="../../assets/img/tc-jit.jpg" alt="" class="img-techer">
      </div>
      <h5 class="text-center color-name-teacher">Dr.Jorm jit</h5>
      <div class="justify-content-around align-items-center d-flex">
        <div class="country">
          <img src="../../assets/img/icon-teacher-from.png" alt="naruto-icon">
          <span class="lao-font size-font-province">ນະຄອນຫຼວງວຽງຈັນ</span>
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-center mt-2">
        <div class="score-teacher">
          <h6 class="text-center lao-font">ຄະແນນຈາກຜູ້ໃໍຊ້</h6>
          <p class="text-center">
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="far fa-star"></i>
            </span>
          </p>

          <p class="text-center pd-rewiew">
            ( 10 ລີວິວ )
          </p>
        </div>
      </div>
    </div>

    <!-- fourth photo teacher class -->
    <div class="col-md-3 col-sm-6 col-12 all-teacher">
      <div class="d-flex justify-content-center tst">
        <img src="../../assets/img/profile-naruto-one.png" alt="" class="img-techer" [routerLink]="['/resume']">
      </div>
      <h5 class="text-center color-name-teacher">Dr.Naruto Aoi</h5>
      <div class="justify-content-around align-items-center d-flex">
        <div class="country">
          <img src="../../assets/img/icon-teacher-from.png" alt="naruto-icon">
          <span class="lao-font size-font-province">ນະຄອນຫຼວງວຽງຈັນ</span>
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-center mt-2">
        <div class="score-teacher">
          <h6 class="text-center lao-font">ຄະແນນຈາກຜູ້ໃໍຊ້</h6>
          <p class="text-center">
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="far fa-star"></i>
            </span>
          </p>

          <p class="text-center pd-rewiew">
            ( 10 ລີວິວ )
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12 all-teacher">
      <div class="d-flex justify-content-center tst">
        <img src="../../assets/img/tc-soukseed.jpg" alt="" class="img-techer">
      </div>
      <h5 class="text-center color-name-teacher">Tch.Souphansa</h5>
      <div class="justify-content-around align-items-center d-flex">
        <div class="country">
          <img src="../../assets/img/icon-teacher-from.png" alt="naruto-icon">
          <span class="lao-font size-font-province">ນະຄອນຫຼວງວຽງຈັນ</span>
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-center mt-2">
        <div class="score-teacher">
          <h6 class="text-center lao-font">ຄະແນນຈາກຜູ້ໃໍຊ້</h6>
          <p class="text-center">
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="far fa-star"></i>
            </span>
          </p>

          <p class="text-center pd-rewiew">
            ( 10 ລີວິວ )
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12 all-teacher">
      <div class="d-flex justify-content-center tst">
        <img src="../../assets/img/tc-seua.jpg" alt="" class="img-techer">
      </div>
      <h5 class="text-center color-name-teacher">Tch. Seuasivilai</h5>
      <div class="justify-content-around align-items-center d-flex">
        <div class="country">
          <img src="../../assets/img/icon-teacher-from.png" alt="naruto-icon">
          <span class="lao-font size-font-province">ນະຄອນຫຼວງວຽງຈັນ</span>
        </div>
      </div>

      <!-- second photo teacher class -->
      <div class="d-flex justify-content-center align-items-center mt-2">
        <div class="score-teacher">
          <h6 class="text-center lao-font">ຄະແນນຈາກຜູ້ໃໍຊ້</h6>
          <p class="text-center">
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="far fa-star"></i>
            </span>
          </p>

          <p class="text-center pd-rewiew">
            ( 10 ລີວິວ )
          </p>
        </div>
      </div>
    </div>

    <!-- Third photo teacher class -->
    <div class="col-md-3 col-sm-6 col-12 all-teacher">
      <div class="d-flex justify-content-center tst">
        <img src="../../assets/img/tc-jit.jpg" alt="" class="img-techer">
      </div>
      <h5 class="text-center color-name-teacher">Dr.Jorm jit</h5>
      <div class="justify-content-around align-items-center d-flex">
        <div class="country">
          <img src="../../assets/img/icon-teacher-from.png" alt="naruto-icon">
          <span class="lao-font size-font-province">ນະຄອນຫຼວງວຽງຈັນ</span>
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-center mt-2">
        <div class="score-teacher">
          <h6 class="text-center lao-font">ຄະແນນຈາກຜູ້ໃໍຊ້</h6>
          <p class="text-center">
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="far fa-star"></i>
            </span>
          </p>

          <p class="text-center pd-rewiew">
            ( 10 ລີວິວ )
          </p>
        </div>
      </div>
    </div>

    <!-- fourth photo teacher class -->
    <div class="col-md-3 col-sm-6 col-12 all-teacher">
      <div class="d-flex justify-content-center tst">
        <img src="../../assets/img/profile-naruto-one.png" alt="" class="img-techer">
      </div>
      <h5 class="text-center color-name-teacher">Dr.Naruto Aoi</h5>
      <div class="justify-content-around align-items-center d-flex">
        <div class="country">
          <img src="../../assets/img/icon-teacher-from.png" alt="naruto-icon">
          <span class="lao-font size-font-province">ນະຄອນຫຼວງວຽງຈັນ</span>
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-center mt-2">
        <div class="score-teacher">
          <h6 class="text-center lao-font">ຄະແນນຈາກຜູ້ໃໍຊ້</h6>
          <p class="text-center">
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="far fa-star"></i>
            </span>
          </p>

          <p class="text-center pd-rewiew">
            ( 10 ລີວິວ )
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12 all-teacher">
      <div class="d-flex justify-content-center tst">
        <img src="../../assets/img/tc-soukseed.jpg" alt="" class="img-techer">
      </div>
      <h5 class="text-center color-name-teacher">Tch.Souphansa</h5>
      <div class="justify-content-around align-items-center d-flex">
        <div class="country">
          <img src="../../assets/img/icon-teacher-from.png" alt="naruto-icon">
          <span class="lao-font size-font-province">ນະຄອນຫຼວງວຽງຈັນ</span>
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-center mt-2">
        <div class="score-teacher">
          <h6 class="text-center lao-font">ຄະແນນຈາກຜູ້ໃໍຊ້</h6>
          <p class="text-center">
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="far fa-star"></i>
            </span>
          </p>

          <p class="text-center pd-rewiew">
            ( 10 ລີວິວ )
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-12 all-teacher">
      <div class="d-flex justify-content-center tst">
        <img src="../../assets/img/tc-seua.jpg" alt="" class="img-techer">
      </div>
      <h5 class="text-center color-name-teacher">Tch. Seuasivilai</h5>
      <div class="justify-content-around align-items-center d-flex">
        <div class="country">
          <img src="../../assets/img/icon-teacher-from.png" alt="naruto-icon">
          <span class="lao-font size-font-province">ນະຄອນຫຼວງວຽງຈັນ</span>
        </div>
      </div>

      <!-- second photo teacher class -->
      <div class="d-flex justify-content-center align-items-center mt-2">
        <div class="score-teacher">
          <h6 class="text-center lao-font">ຄະແນນຈາກຜູ້ໃໍຊ້</h6>
          <p class="text-center">
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="far fa-star"></i>
            </span>
          </p>

          <p class="text-center pd-rewiew">
            ( 10 ລີວິວ )
          </p>
        </div>
      </div>
    </div>

    <!-- Third photo teacher class -->
    <div class="col-md-3 col-sm-6 col-12 all-teacher">
      <div class="d-flex justify-content-center tst">
        <img src="../../assets/img/tc-jit.jpg" alt="" class="img-techer">
      </div>
      <h5 class="text-center color-name-teacher">Dr.Jorm jit</h5>
      <div class="justify-content-around align-items-center d-flex">
        <div class="country">
          <img src="../../assets/img/icon-teacher-from.png" alt="naruto-icon">
          <span class="lao-font size-font-province">ນະຄອນຫຼວງວຽງຈັນ</span>
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-center mt-2">
        <div class="score-teacher">
          <h6 class="text-center lao-font">ຄະແນນຈາກຜູ້ໃໍຊ້</h6>
          <p class="text-center">
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="fas fa-star"></i>
            </span>
            <span>
              <i class="far fa-star"></i>
            </span>
          </p>

          <p class="text-center pd-rewiew">
            ( 10 ລີວິວ )
          </p>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="..." class="d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link">1</a>
      </li>
      <li class="page-item active">
        <a class="page-link">2
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link">3</a>
      </li>
      <li class="page-item">
        <a class="page-link">Next</a>
      </li>
    </ul>
  </nav>
</div>